<div class="page-header">
  <h1>Todoist <small>A Light Weight Todo App</small></h1>
</div>

<div class="row">
  <form method="post">
    <div class="form-group">
      <div class="col-sm-10">
        <input class="form-control" placeholder="create a new list here..." type="text" name="list[name]">
      </div>
    </div>
    <div class="form group">
      <div class="col-sm-2">
        <button class="btn btn-default" type="submit">Create</button>
      </div>
    </div>
  </form>
</div>

<br>

<div class="row">
  <div class="col-sm-10">
    <div class="list-group">
      <% @lists.each do |list| %>
      <a href="/<%=list.id%>" class="list-group-item">
        <%= list.name %>
        <span class="badge">Completed Tasks: <%= list.tasks.all(done: true).count %></span>
        <span class="badge">Incomplete Tasks: <%= list.tasks.all(done: false).count %></span>
        <form action="/<%=list.id%>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="list_id" value="<%= list.id %>">
          <button class="btn btn-danger btn-xs" type="submit">
          <span class="glyphicon  glyphicon-trash"></span>
          </button>
        </form>

      </a>
      <% end %>
    </div>
  </div>
</div>


